{% extends 'base.html.twig' %}

{% block title %}
  Catégories
{% endblock %}

{% block body %}
  <h1 class="text-4xl text-center">Catégories</h1>

  {% for category in categories %}
    <p>
      <a class="hover:underline" href="{{ path('category_item', { id: category.id }) }}">{{ category.name }}</a> ({{ category.articles|length }} articles)
    </p>
  {% else %}
    <p>Aucune catégorie trouvée</p>
  {% endfor %}
{% endblock %}
