<nav>
  <ul>
    <li>
      <a href="{{ path('app_index') }}">Accueil</a>
    </li>
    <li>
      <a href="{{ path('categories_list') }}">Catégories</a>
    </li>
    <li>
      <a href="{{ path('about_page') }}">À propos</a>
    </li>
  </ul>
</nav>
