{% extends 'base.html.twig' %}

{% block title %}
  Tous les articles
{% endblock %}

{% block body %}
  <h1 class="text-4xl text-center">Tous les articles</h1>

  {% for article in articles %}
    <p>
      <a class="hover:underline" href="{{ path('article_item', { id: article.id }) }}">{{ article.title }}</a>

      ({{ article.createdAt|date('d/m/Y') }})
    </p>
  {% endfor %}
{% endblock %}
